html, body {
	font-family: 'Roboto', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  background-color: #edecec;
}
#index {
  background-image: url("images/homepage.png");
}

.employee-img{
  height: auto;
}